/*Table of Contents */

/* 0 - Global properties */
body {
  margin: 0;
  text-align: center;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* 1 - Make-a-move buttons */
#feed-dog-button {
  border-radius: 5px;
  border: 1px black solid;
  background-color: #ff001a;
  padding: 15px;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.make-a-move {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 40px 0 10px 0;
}

.make-a-move p {
  font-size: 1.5rem;
  font-weight: 600;
}

.make-a-move button {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px black solid;
  background-color: #ddd;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

button:focus,.make-a-move .button-focus {
  background-color: #ff001a;
}

button:active,.make-a-move .button-active {
  background-color: #fdff00;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

button img {
  width: 100px;
}

/* 2 - Display moves */
/* 3 - Show Result */
ul {
  list-style: none;
}

.result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #00bfff;
  min-height: 130px;
  color: #fff;
}
.computers-choice, .my-choice {
  margin: 10px 20px;
}

.icons {
  font-size: 36px;
}

/* Overlays */

#cheat-overlay, #no-cheat-overlay, .overlay-flex-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  color: #fff;
}

.overlay-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-flex-item {
  margin: 10px;
}

#cheat-attribution {
  display: none;
}

.my-choice {
  position: relative;
}

#cheat-logo {
  display: none;
  z-index: 2;
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 100%;
}

#cheat-logo img {
  width: 38px;
}

.bodo-image {
  width: 250px;
  border-radius: 12px;
  border: 1px solid black;
}

.fade-out {
  visibility: none;
  opacity: 0;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

.no-cheat-image {
  border: none;
}

.play-again {
  background-color: #ff001a;
  border-radius: 5px;
  border: 1px solid black;
  padding: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 48px;
}
